.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

/*fondo*/

.main-Header {
    position: relative;
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 600px;
}

.background-overlay {
    position: absolute;
    background-color: rgba(48, 51, 107, 0.7);
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.form-control, .btn {
    border-radius: 0;
}

.team {
    background-color: #30336b;
}

@media (max-width: 768px) {
    .team {
        margin-bottom: 20px;
    }
}